#button-var-1 {
    /* default styles for all library elements. DO NOT CHANGE. */
    margin: 0;
    text-align: center;
    width: auto;
    height: auto;
    /* can add suggestions below */

}

#button-var-1:active {
    position:relative;
    top:1px;
}

/* these classes represent switchers, for adding style settings */
.buttonBoxshadowBlack {
    padding: 1%;
    border: 0.1em solid black;
    box-shadow: 0 0 5em 5em black;
}

.buttonBoxshadowWhite {
    padding: 1%;
    border: 0.1em solid white;
    box-shadow: 0 0 5em 5em white;
}

.buttonBoxshadowBlackRound {
    padding: 1%;
    border: 0.1em solid black;
    box-shadow: 0 0 5em 5em black;
    border-radius: 5%;
}

.buttonBoxshadowWhiteRound {
    padding: 1%;
    border: 0.1em solid white;
    box-shadow: 0 0 5em 5em white;
    border-radius: 5%;
}

.buttonBoxshadowBlackRoundBottom {
    padding: 1%;
    border: solid black;
    border-width: 0 0 0 0.1em;
    box-shadow: 0 0 5em 5em black;
    border-radius: 5%;
}

.buttonBoxshadowWhiteRoundButtom {
    padding: 1%;
    border: solid white;
    border-width: 0 0 0 0.1em;
    box-shadow: 0 0 5em 5em white;
    border-radius: 5%;
    text-decoration: underline;
    font-size: 500px !important;
}

.button-circular-height {
    border-radius:18px;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:7px 25px;
    text-decoration:none;
}

.button-circular-plain {
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
}

.button-rounded-height {
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
}

.button-rounded-plain {
    border-radius:17px;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:10px 27px;
    text-decoration:none;
}

.button-rectangle-height {
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
}

.button-rectangle-plain {
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
}